[Desktop Entry]
Name=Ranger
GenericName=File Manager
Comment=Launches the ranger file manager
TryExec=ranger
Exec=kitty -1 -e bash -c "ranger /home/gib/Documents/Code; exec bash" 
Terminal=false
Type=Application
Keywords=File;Manager;Browser;Explorer;Launcher;Vi;Vim;Python
Icon=utilities-terminal
Categories=ConsoleOnly;System;FileTools;FileManager
StartupNotify=false
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
X-Desktop-File-Install-Version=0.26
