[Desktop Entry]
Type=Application
Name=bluebubbles
Comment=bluebubbles startup script
Exec=/app/bluebubbles/bluebubbles minimized
StartupNotify=false
Terminal=false
